td { 
    vertical-align:middle; 
    text-align: center;
    margin:0px;
    border-collapse:collapse; 
    padding:0px;
    border:1px;
    border-color:black;
    border-style:solid;
}
table { 
   font:27pt arial;
   border:0px;
   border-collapse:collapse; 
} 

table.square td {
    border-color:silver;
}

.box td {
   font:9pt arial;
   border:1px;
   border-color:blue;
   border-collapse:collapse; 
   width:20;
   height:20;
} 

.notposs {
   /* color: Gainsboro; *//* Very light gray - useful for debug */
   color: white; 
}

.onlyposs {
   color: green; 
}

.isposs {
   font-weight: bold;
}

.predefined {
   background-color: gainsboro;
}
